@font-face {
	font-family: 'Always';
	src: url('../fonts/Always.eot');
	src: local('☺'), url('../fonts/Always.woff') format('woff'), url('../fonts/Always.ttf') format('truetype'), url('../fonts/Always.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_ClementePDac-ExtraLight';
	src: url('../fonts/ClementePDac-ExtraLight.eot');
	src: local('☺'), url('../fonts/ClementePDac-ExtraLight.woff') format('woff'), url('../fonts/ClementePDac-ExtraLight.ttf') format('truetype'), url('../fonts/ClementePDac-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	position: relative;
	font-family: 'Conv_ClementePDac-ExtraLight';
	/*font-size: 1.5em;*/
	margin:0;
	padding: 0;
}

.logo-fox {
	height: 20%;
	width: 20%; 
	float: left;
/*	margin-top: -3%;*/
}


/*.flag_box {
	display:flex;
	vertical-align: center;
	justify-content:space-around;
	margin-top: 1%;
}*/

.flag_box {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
/*   padding-top: 1%; 
   padding-bottom: 1%;*/
}

.flag {
	width:30%;
	height:30%;
	filter: grayscale(0.8);
    -webkit-filter: grayscale(0.8);
    -moz-filter: grayscale(0.8);
    -o-filter: grayscale(0.8);
    -ms-filter: grayscale(0.8);
    justify-content: space-between;
    padding-bottom: 20px;
	padding-top: 20px;
}

.flag:hover {
	width:30%;
	height:30%;
	filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    padding-bottom: 20px;
	padding-top: 20px;
}

.page-accueil {
	height: 974px;
	background-size: 100% 100%;
	background-image: url(../images/page_accueil.jpg);
	background-repeat: no-repeat;
}

.center {
    margin: auto;
}

h1 {
	color: #FFF;
	font-family: 'Always';
	text-align: center;
	font-size: 3.4em;
	font-weight: 100;
	margin: 2%;
	padding-top: 2%;
	text-shadow: 10px 10px 9px #0A0D0C;
}

h2 {
	font-family: 'Conv_ClementePDac-ExtraLight';
	text-align: center;
	color: #FFF;
	font-size: 1.3em;
}
.lac_devesset {
	width:90%;
	height:90% ;
	margin-left: 10%;
	margin-top: 2%;
}

.img_accueil {

	width: 100%;
	margin-top: 2%;
}
.carte_ardeche {
	width:70%;
	height:90%;
}

.image_carte {
	width:64%;
	height: 64%;
	border: 1px solid #AAA;
}

.intro1 {
	flex-direction:row;
	width:100%;
	margin-top:5%;
}

.text1 {
	font-size: 0.9em;
	width:50%;
	text-align: justify;
	flex-direction: column;
	margin-right: 5%;
	padding: 2%;
	border: 1px solid #E6E6E6;
}


.intro2 {
	display:flex;
	flex-direction:row;
	width:100%;
	margin-top:5%;
}

.text2 {
	font-size: 0.9em;
	width:50%;
	text-align: justify;
	margin-left: 6%;
	padding: 2%;
	border: 1px solid #E6E6E6;
}


.hidden {
    display: none;
}

/* NAV */
.m_contenu {
	display:flex;
	vertical-align: center;
	justify-content:space-around;
}

.fond_pictos {
	margin-top: 4%;
}

.pictos {
	display:flex;
	width:80%;
	height: 75%;
	/*margin: auto;*/
	justify-content:center;
}

.barre_navigation_center{
	width: 100%; 
}


.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flexbox-inline {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: inline;
}


.picto_accueil {
	display:flex;
	width:32%;
	justify-content:center;
	margin: auto;
}
/*FOOTER  ********************/
.footer_general {
	display:flex;
	justify-content: space-around;
	width: 100%;
}

.logement {
	border: solid 1px black;
}

.image_logement {
	width: 20%;
}

/*BAIGNADE*********************/

.page_accueil_baignade {
	height: 974px;
	margin: auto;
	background-size: 100% 100%;
	background-image: url(../images/baignade.jpg);
	background-repeat: no-repeat;
}

.entete_baignade {
	text-align: center;
}

.parent {
	display:flex;
	flex-direction:row;
	justify-content:space-arround;
}

.enfant1 {
	width:40%;
	height:100%;
	margin:auto;
}

.enfant2 {
	width:60%;
	height:100%;
	margin:auto;
	font-size: 1,3em;
}

.img_lac {
	width:100%;
	margin-top: 10%;
}

.lac_st_martial_baignade{
	height: 110%;
	width:85%;
	float: left;
	margin-top: 3%;
}

.bain{
	font-size: 1,5em;	
	margin-left: 15px;
	margin-top: 3%;
}

/*RANDO ***************************/


.titre_rando {
	margin-top: 3%;
	font-size: 2.5em;
}

.page_accueil_rando{
	height: 545px;
	width: 90%;
	margin-left: 5%;
	display: inline-block;
	background-size: 110%;
	background-image: url(../images/rando_accueil.jpg);
	background-repeat: no-repeat;

}

.bloc_rando {
	display: flex;
	margin-top: 2%;
}

.photo_rando {
	display:block;
	width: 80%;
}

.panneau {
	display:block;
	width: 100%;
}

.texte_rando {
	font-size: 1.5em;
	margin-left: 1%;
	margin-top: 3%;
}

.loger_voir {
	display:flex;
	justify-content: space-around;
	position: bottom;
	margin-top: 200px;
}

/*vtt*/

.page_accueil_vtt {
	height: 545px;
	width: 90%;
	margin: auto;
	background-size: 100%;
	background-image: url(../images/page_accueil_vtt.jpg);
	background-repeat: no-repeat;
}

.vtt_accueil {
	float: left;
	width: 61%; 
}

.entete_vtt >h2{
	text-align: center;
	color: black;
	font-size: 1.3em;
	font-family: 'Conv_ClementePDac-ExtraLight';	
}

.liens_vtt {
	border :3px solid  #E6E6E6;
	border-radius: 12px;
	box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset;
	width: 36%;
	float: right;
	padding-right: 1%;
	margin-top: 0,2%;
	font-size: 1.1em;
}

.url_vtt li a {
	color: black;
}

.legende_vtt_dolce_via {
	float: left;
	width: 100%;
	margin-top: 1%;
	color: black;
}

.velo_famille {
	width: 61%;
	float: left;
}

/*PARAPENTE*/

.page_accueil_parapente {
	height: 600px;
	width: 550px;
	margin: auto;
	background-size: 100% 100%;
	background-image: url(../images/accueil_parapente.jpg);
	background-repeat: no-repeat;
}

.webcam_parapente{
	margin: auto;
	color: black;
}

.txt_autres_possibilite_passionnes{
	width: 70%;
	color: black;
}

.autres_possibilite_passionnes{
	display: inline-flex;

	height: 350px;
}
/* CANOE*/

.page_accueil_canoe {
	height: 960px;
	width: 90%;
	display: inline-block;
	margin-left: 5%;
	background-size: 110% 100%;
	background-image: url(../images/canoe_vallee.jpg);
	background-repeat: no-repeat;
}

.brochure_epreuve_canoe{
	width: 70%;
	margin-left: 15%;
}

.entete_evenement_canoe h2{
	color: #000;
}